div {
    opacity: 0.7;
    margin-bottom: 10px
}
div.highlighted {
    background-color: cadetblue;
}
div.special-header {
    background-color: rgb(191, 144, 235);
}
div.important {
    opacity: 1;
}